body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    padding: 0;
    color: $mainColor;
    background-color: $mainBackgroundColor;
    user-select: none;
  }
  